:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --white-text-color: #ffffff;
  --accent-color: #4d5ae5;
  --accent-hover-color: #404bbf;
  --font-size: 16px;
  --cloud-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: var(--white-text-color);
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



/* Заголовки */
h1, h2, h3 {
  margin: 0;
}

/* Global styles */


a {
  text-decoration: none;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--secondary-text-color);
}

.menu-item a {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-item a:hover,
.menu-item a:focus {
  color: var(--accent-hower-color);
}

/* Services Section */
.services {
  background-color: var(--white-text-color);
}

.service-title {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: 500;
}

.service-description {
  color: var(--primary-text-color);
}

/* Team Section */
.team {
  background-color: var(--cloud-color);
}

.section-title {
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
}

/* Portfolio Section */
.portfolio {
  background-color: var(--white-text-color);
}

.portfolio-title {
  font-size: 18px;
  font-weight: 700;
}

.portfolio-category {
  font-size: 14px;
  color: var(--primary-text-color);
}

/* Footer */
.footer {
  background-color: var(--secondary-text-color);
  color: var(--white-text-color);
}

.footer-logo {
  font-weight: bold;
  font-size: 18px;
  color: var(--white-text-color);
}

.footer-description {
  color: var(--cloud-color);
}
